/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: "Outfit";
  src: url("assets/fonts/subset-Outfit-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Big Shoulders Display";
  src: url("assets/fonts/subset-BigShouldersDisplay-Black.woff2")
    format("woff2");
  font-weight: 900;
  font-style: normal;
}

:root {
  --clr-primary-gold: hsla(24, 56%, 63%, 1);

  --clr-neutral-100: hsla(0, 0%, 100%, 1);
  --clr-neutral-200: hsla(0, 0%, 27%, 1);
  --clr-neutral-300: hsla(0, 0%, 8%, 1);

  --ff-primary: "Big Shoulders Display", sans-serif;
  --ff-secondary: "Outfit", sans-serif;

  --fw-light: 300;
  --fw-black: 900;
}

body {
  font-family: var(--ff-primary);
}
