:root {
  --clr-primary-gold: hsla(24, 56%, 63%, 1);

  --clr-neutral-100: hsla(0, 0%, 100%, 1);
  --clr-neutral-200: hsla(0, 0%, 27%, 1);
  --clr-neutral-300: hsla(0, 0%, 8%, 1);

  --ff-primary: "Big Shoulders Display", sans-serif;
  --ff-secondary: "Outfit", sans-serif;

  --fw-light: 300;
  --fw-black: 900;
}

body {
  background-color: var(--clr-neutral-100);
}

.hero {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  margin-top: 1rem;
}

.card {
  display: grid;
  gap: 1rem;
  padding: 1rem;
}

.card__top,
.card__bottom {
  display: grid;
  gap: 1rem;
}

.card__logo {
  width: 18rem;
}

.main__image {
  width: 100%;
}

.card__image {
  width: 100%;
}

.card__heading {
  font-size: 3.75rem;
  line-height: 0.91667;
  color: var(--clr-neutral-300);
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.card__paragraph {
  font-size: 1.125rem;
  line-height: 1.55556;
  font-family: var(--ff-secondary);
  color: var(--clr-neutral-200);
}

.card__paragraph--white {
  color: var(--clr-neutral-100);
}

.main__link {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 6.5rem;
  width: max-content;
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-300);
  text-decoration: none;
  padding-left: 1.5rem;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 0.22725rem;
  transition: 300ms;
}

.main__link::after {
  display: block;
  content: "";
  background-color: var(--clr-primary-gold);
  background-image: url(assets/icon-arrow-right.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 2.5rem;
  padding: 2.25rem 0;
  height: inherit;
}

.main__link:is(:hover, :focus-visible) {
  background-color: var(--clr-primary-gold);
}

.card__title {
  font-family: var(--ff-primary);
  font-size: 3.125rem;
  line-height: 0.9;
  counter-reset: var(--clr-neutral-300);
  text-transform: uppercase;
}

.card--dark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  background-color: var(--clr-neutral-300);
  color: var(--clr-neutral-100);
  padding: 3rem 1.5rem;
}

footer {
  margin-top: 7.5rem;
  background-color: var(--clr-neutral-300);
}

.footer {
  display: grid;
  gap: 2.375rem;
  color: var(--clr-neutral-100);
  padding: 3rem 2rem;
}

.footer__logo {
  max-width: 6.87813rem;
}

.footer__paragraph {
  font-family: var(--ff-secondary);
}

.footer__links {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0;
}

.footer__links ::marker {
  font-size: 0;
}

.footer__link:is(:hover, :focus-visible) > img {
  filter: brightness(0) saturate(100%) invert(60%) sepia(52%) saturate(335%)
    hue-rotate(341deg) brightness(95%) contrast(93%);
}

@media screen and (min-width: 40rem) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .card__logo {
    width: 21.1875rem;
  }

  .hero {
    grid-template-rows: auto auto 1fr;
    align-items: start;
    padding: 2.5rem;
    margin-top: 6.5rem;
    margin-left: -5.25rem;
    gap: 3rem;
  }

  .main__link {
    margin: 0;
  }

  .card {
    padding: 2.5rem;
    grid-column: 1 / 3;
  }

  .card__top {
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;
    column-gap: 3.25rem;
  }

  .top__image {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }

  .card__bottom {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
  }

  .bottom__image {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 3.5rem 2.5rem;
  }

  .footer__paragraph {
    max-width: 17.5625rem;
  }
}

@media (min-width: 60rem) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main {
    display: grid;
    justify-items: center;
    max-width: 70rem;
    row-gap: 10rem;
  }

  .main__image-con {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
  }

  .main__image {
    min-height: 100vh;
    box-shadow: -1000rem -1000rem 0px 1000rem var(--clr-neutral-300);
  }

  .hero {
    margin-left: 0;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr auto;
    column-gap: 10rem;
  }

  .card__logo {
    width: 100%;
    max-width: 28.75rem;
    grid-row: 1 / 3;
    filter: brightness(0) invert(1);
    mix-blend-mode: exclusion;
  }

  .card__paragraph--hero {
    max-width: 21.875rem;
    font-size: 1.375rem;
  }

  .card--dark {
    padding: 3rem;
  }

  footer {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .footer {
    width: 100%;
    max-width: 70rem;
  }
}
