:root {
  --clr-primary-gold: hsla(24, 56%, 63%, 1);

  --clr-neutral-100: hsla(0, 0%, 100%, 1);
  --clr-neutral-200: hsla(0, 0%, 27%, 1);
  --clr-neutral-300: hsla(0, 0%, 8%, 1);

  --ff-primary: "Big Shoulders Display", sans-serif;
  --ff-secondary: "Outfit", sans-serif;

  --fw-light: 300;
  --fw-black: 900;
}

.main__link {
  position: absolute;
  width: max-content;
  display: block;
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-300);
  text-decoration: none;
  padding: 1.5rem 2rem;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 0.22725rem;
}

.main__map {
  width: 100%;
}

.card {
  background-color: var(--clr-neutral-300);
  padding: 3rem 1rem 3.5rem 1rem;
}

.card__title {
  color: var(--clr-neutral-100);
  font-family: var(--ff-primary);
  font-size: 3.125rem;
  line-height: 0.9;
  text-transform: uppercase;
}

.card__address {
  display: grid;
  color: var(--clr-neutral-100);
  font-family: var(--ff-secondary);
  font-size: 1.125rem;
  line-height: 1.55556;
}

.card__street {
  margin-top: 3rem;
  margin-bottom: 1.25rem;
  color: var(--clr-primary-gold);
  font-family: var(--ff-primary);
  font-size: 2rem;
  line-height: 1;
  text-transform: uppercase;
}

.card__paragraph {
  margin-top: 1.25rem;
  color: var(--clr-neutral-100);
  font-family: var(--ff-secondary);
}

footer {
  display: grid;
  gap: 2.375rem;
  background-color: var(--clr-primary-gold);
  color: var(--clr-neutral-100);
  padding: 3rem 2rem;
}

.footer__logo {
  max-width: 6.87813rem;
}

.footer__paragraph {
  font-family: var(--ff-secondary);
  color: var(--clr-neutral-300);
}

.footer__links {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0;
}

.footer__links ::marker {
  font-size: 0;
}

.footer__social {
  filter: brightness(1) invert(1);
}

@media screen and (min-width: 40rem) {
  .card {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 5.5rem 2.5rem 5rem 2.5rem;
    column-gap: 4.25rem;
  }

  .card__title {
    width: min-content;
    grid-row: 1 / 3;
  }

  .card__street {
    margin-top: 0;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 3.5rem 2.5rem;
  }

  .footer__paragraph {
    max-width: 17.5625rem;
  }
}
